version: "3.9"

services:
  agent:
    container_name: vis-backend-agent
    image: ghcr.io/theworldavatar/vis-backend-agent:1.20.2-unsorted-sorts-SNAPSHOT
    build:
      context: ..
      target: agent
    environment:
      NAMESPACE: kb
    volumes:
      - ../resources/config:/usr/local/tomcat/resources
    ports:
      - "8080:8080"