version: "3.9"

services:
  agent:
    container_name: vis-backend-agent-test
    image: ghcr.io/theworldavatar/vis-backend-agent-test:1.30.0-closed-tasks-date-SNAPSHOT
    build:
      context: ..
      target: test
    environment:
      NAMESPACE: kb
    ports:
      - "8080:8080"
