version: "3.9"

services:
  agent:
    container_name: vis-backend-agent-test
    image: ghcr.io/theworldavatar/vis-backend-agent-test:1.22.1-event-id-filter-SNAPSHOT
    build:
      context: ..
      target: test
    environment:
      NAMESPACE: kb
    ports:
      - "8080:8080"
