version: "3.9"

services:
  agent:
    container_name: vis-backend-agent
    image: ghcr.io/theworldavatar/vis-backend-agent:1.40.1-fixed-date-service-hotfix-SNAPSHOT
    build:
      context: ..
      target: agent
    environment:
      NAMESPACE: kb
      SHACL_NAMESPACE: shacl
    volumes:
      - ../resources/config:/usr/local/tomcat/resources
    ports:
      - "8080:8080"
